@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line-title {
  font-size: 70px;
  font-family: 'Oswald', sans-serif;
}
.head-line svg {
  width: 480px;
}
.top-nav {
  display: flex;
  margin-top: 1em;
}
.top-menu i {
  margin: 0 5px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.search-area {
  display: none;
}
.search:hover {
  cursor: pointer;
}
.search-box {
  border: 1px solid #676767;
  outline: none;
  border-radius: 5px;
}
.search-button {
  border: 1px solid #676767;
  outline: none;
  border-radius: 5px;
}
.search-button:hover {
  background: rgb(143, 225, 143);
}

/*사이드바*/
.inner-menu ul li {
  list-style: none;
  margin: 10px 10px;
}
.inner-menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.inner-menu ul li a:hover {
  color: rgb(143, 225, 143);
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}
.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background: rgb(143, 225, 143);
}

.news-img-size {
  max-width: 100%;
  max-height: 250px;
}

.news {
  border-bottom: 2px solid black;
}
.description {
  text-overflow: ellipsis;
}

@media screen and (max-width: 625px) {
  .menus {
    display: none;
  }
  .mobile-menu {
    display: inline;
  }
}
